**/*.map
.vscode/**
.nyc_output/**
.github/**
out/test/**
src/**
typings/**
test/**
node_modules/**
tsconfig.json
tslint.json
.editorconfig
.gitignore
.prettierignore
.prettierrc
.travis.yml
